<div class="big-container">
	<h1>List of programming Languages</h1>
  	<% @progLanguages.each do |proLanguage| %>
    <div>
      	<h2 ><%=  proLanguage.name %></h2>
    	<a href="/prog_languages/<%= proLanguage.id %>" >See error msgs list</a>

    </div>
  	<% end %>
</div>
