<h1 class="page-title second-bg"></h1>
<div class="info-list">
  <% @progLanguages.each do |proLanguage| %>
    <div class="proLanguage-info info">
      <h2 class="card-title"><%=  proLanguage.name %></h2>
    </div>
  <% end %>
</div>
